/* image 19 */


position: absolute;
width: 120.18px;
height: 133.4px;
left: 15.71px;
top: 9px;

background: url(image.png);


/* YALE SCHOOL OF ART */


position: absolute;
width: 554.38px;
height: 64.68px;
left: 149.6px;
top: 31.39px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 55.4382px;
line-height: 65px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #00497E;



/* Rectangle 28 */


box-sizing: border-box;

position: absolute;
width: 478.46px;
height: 62.12px;
left: 948.2px;
top: 36.88px;

background: #FFFFFF;
border: 1.08988px solid #00497E;
border-radius: 29.4268px;


/* image 21 */


position: absolute;
width: 28.34px;
height: 29.43px;
left: 974.35px;
top: 53.23px;

background: url(.png);


/* Search */


position: absolute;
width: 92.64px;
height: 33.84px;
left: 1022.31px;
top: 48.87px;

font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 25.677px;
line-height: 34px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: rgba(0, 73, 126, 0.45);



/* Rectangle 22 */


position: absolute;
width: 1447px;
height: 113.64px;
left: 2px;
top: 155px;

background: #00497E;


/* Rectangle 23 */


box-sizing: border-box;

position: absolute;
width: 180.92px;
height: 49.04px;
left: 151.6px;
top: 186.34px;

background: #FFFFFF;
border: 3.26965px solid #FFFFFF;
box-shadow: 0px 4.35953px 4.35953px rgba(0, 0, 0, 0.25);
border-radius: 18.528px;


/* Rectangle 24 */


position: absolute;
width: 198.15px;
height: 49.12px;
left: 379.94px;
top: 185.78px;

background: #FFFFFF;
box-shadow: 0px 4.35953px 4.35953px rgba(0, 0, 0, 0.25);
border-radius: 18.528px;


/* Exhibitions */


position: absolute;
width: 159.12px;
height: 31.61px;
left: 400.6px;
top: 193.44px;

font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 23.9774px;
line-height: 32px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #00497E;



/* Rectangle 25 */


position: absolute;
width: 205.49px;
height: 49.12px;
left: 624.69px;
top: 185.78px;

background: #FFFFFF;
box-shadow: 0px 4.35953px 4.35953px rgba(0, 0, 0, 0.25);
border-radius: 18.528px;


/* Publications */


position: absolute;
width: 173.29px;
height: 31.61px;
left: 639.36px;
top: 194.57px;

font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 23.9774px;
line-height: 32px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #00497E;



/* Rectangle 26 */


position: absolute;
width: 180.92px;
height: 49.04px;
left: 877.6px;
top: 185.78px;

background: #FFFFFF;
box-shadow: 0px 4.35953px 4.35953px rgba(0, 0, 0, 0.25);
border-radius: 18.528px;


/* Rectangle 27 */


position: absolute;
width: 180.92px;
height: 49.04px;
left: 1105.94px;
top: 185.78px;

background: #FFFFFF;
box-shadow: 0px 4.35953px 4.35953px rgba(0, 0, 0, 0.25);
border-radius: 18.528px;


/* Home */


position: absolute;
width: 63.21px;
height: 34.88px;
left: 212.63px;
top: 192.88px;

font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 26.1572px;
line-height: 34px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #00497E;



/* Staff */


position: absolute;
width: 79.56px;
height: 34.88px;
left: 925.26px;
top: 192.48px;

font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 26.1572px;
line-height: 34px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #00497E;



/* More */


position: absolute;
width: 63.21px;
height: 34.88px;
left: 1142.44px;
top: 191.3px;

font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 26.1572px;
line-height: 34px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #00497E;



/* image 20 */


position: absolute;
width: 29.43px;
height: 29.43px;
left: 1229.63px;
top: 196.75px;

background: url(.png);


/* 3f11242d-d67f-4f5c-9208-cafebf8b3383 1 */


position: absolute;
width: 1439px;
height: 570px;
left: 2.01px;
top: 269px;

background: linear-gradient(180deg, #292121 0%, rgba(0, 0, 0, 0.520833) 51.56%, rgba(0, 0, 0, 0) 100%), url(3f11242d-d67f-4f5c-9208-cafebf8b3383.jpg);


/* Explore Programs Available at Yale School of Art */


position: absolute;
width: 1018px;
height: 185px;
left: 62.01px;
top: 308px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 75px;
line-height: 96px;

color: #FFFFFF;



/* Follow your passion, or discover new ones. The Yale School of Art offers unparalleled student experiences across a broad spectrum of academic environments. Search or browse for a specific program to learn more about admissions requirements, scholarships, and financial aid opportunities. */


position: absolute;
width: 939px;
height: 275px;
left: 62.01px;
top: 499px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 45px;

color: #FFFFFF;



/* Rectangle 1 */


position: absolute;
width: 368px;
height: 62px;
left: calc(50% - 368px/2 - 519.99px);
top: 856px;

background: #00497E;
border-radius: 100px;


/* UNDERGRADUATE */


position: absolute;
width: 364px;
height: 61px;
left: 3.01px;
top: 865px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 45px;
text-align: center;

color: #FFFFFF;



/* Rectangle 2 */


box-sizing: border-box;

position: absolute;
width: 225px;
height: 62px;
left: calc(50% - 225px/2 - 203.49px);
top: 856px;

background: #FFFFFF;
border: 4px solid #00497E;
border-radius: 100px;


/* GRADUATE */


position: absolute;
width: 211px;
height: 61px;
left: 410.01px;
top: 865px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 45px;
text-align: center;

color: #000000;



/* Rectangle 3 */


box-sizing: border-box;

position: absolute;
width: 164px;
height: 62px;
left: calc(50% - 164px/2 + 8.01px);
top: 856px;

background: #FFFFFF;
border: 4px solid #00497E;
border-radius: 100px;


/* OTHER */


position: absolute;
width: 158px;
height: 61px;
left: 650.01px;
top: 865px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 45px;
text-align: center;

color: #000000;



/* Rectangle 6 */


box-sizing: border-box;

position: absolute;
width: 249px;
height: 62px;
left: calc(50% - 249px/2 + 570.51px);
top: 856px;

background: #FFFFFF;
border: 4px solid #00497E;
border-radius: 100px;


/* SORT BY */


position: absolute;
width: 158px;
height: 40px;
left: 1188.01px;
top: 864px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 45px;
text-align: center;

color: #000000;



/* Rectangle 5 */


box-sizing: border-box;

position: absolute;
width: 306px;
height: 62px;
left: calc(50% - 306px/2 + 276.01px);
top: 856px;

background: #FFFFFF;
border: 4px solid #00497E;
border-radius: 100px;


/* loupe 1 */


position: absolute;
width: 33px;
height: 33px;
left: 1095.01px;
top: 870px;

background: url(.png);


/* image 1 */


position: absolute;
width: 31px;
height: 31px;
left: 335.01px;
top: 872px;

background: url(image.png);


/* SEARCH */


position: absolute;
width: 139px;
height: 38px;
left: 874.01px;
top: 866px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 45px;

color: #000000;



/* Line 1 */


position: absolute;
width: 63.01px;
height: 0px;
left: 826.51px;
top: 918px;

border: 1px solid #00497E;
transform: rotate(-90deg);


/* down-arrow 1 */


position: absolute;
width: 25px;
height: 24px;
left: 1368.01px;
top: 896px;

background: url(.png);
transform: matrix(1, 0, 0, -1, 0, 0);


/* Program Name */


position: absolute;
width: 237px;
height: 50px;
left: 35.01px;
top: 958px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 45px;

color: #000000;



/* Line 2 */


position: absolute;
width: 1440.02px;
height: 0px;
left: 1px;
top: 1006.5px;

border: 3px solid #00497E;


/* Line 3 */


position: absolute;
width: 1440.02px;
height: 0px;
left: 1.01px;
top: 1101px;

border: 3px solid #00497E;


/* Graphic Design */


position: absolute;
width: 451px;
height: 52px;
left: 35.01px;
top: 1022px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 64px;

color: #000000;



/* Line 4 */


position: absolute;
width: 1445px;
height: 0px;
left: 3.01px;
top: 1196px;

border: 3px solid #00497E;


/* Painting and Printmaking */


position: absolute;
width: 738px;
height: 52px;
left: 35.01px;
top: 1116px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 64px;

color: #000000;



/* Line 5 */


position: absolute;
width: 1467.03px;
height: 0px;
left: -19px;
top: 1291px;

border: 3px solid #00497E;


/* Photography */


position: absolute;
width: 738px;
height: 52px;
left: 35.01px;
top: 1210px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 64px;

color: #000000;



/* Sculpture */


position: absolute;
width: 738px;
height: 52px;
left: 35.02px;
top: 1304px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 64px;

color: #000000;



/* plus 4 */


position: absolute;
width: 28px;
height: 28px;
left: 1347.01px;
top: 1041px;

background: url(.png);


/* plus 5 */


position: absolute;
width: 28px;
height: 28px;
left: 1347.01px;
top: 1136px;

background: url(.png);


/* plus 6 */


position: absolute;
width: 28px;
height: 28px;
left: 1347.01px;
top: 1229px;

background: url(.png);


/* remove 1 */


position: absolute;
width: 27.93px;
height: 30px;
left: 1346.01px;
top: 1324px;

background: url(.png);


/* Rectangle 11 */


position: absolute;
width: 249px;
height: 264px;
left: 1166.01px;
top: 931px;

background: #00497E;
box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.67);
backdrop-filter: blur(44.5px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 20px;


/* Ellipse 2 */


box-sizing: border-box;

position: absolute;
width: 17px;
height: 17px;
left: 1184.01px;
top: 964px;

background: #00497E;
border: 2px solid #FFFFFF;


/* Ellipse 3 */


box-sizing: border-box;

position: absolute;
width: 17px;
height: 17px;
left: 1184.01px;
top: 1008px;

background: #00497E;
border: 2px solid #FFFFFF;


/* Ellipse 4 */


box-sizing: border-box;

position: absolute;
width: 17px;
height: 17px;
left: 1184.01px;
top: 1052px;

background: #00497E;
border: 2px solid #FFFFFF;


/* Ellipse 5 */


box-sizing: border-box;

position: absolute;
width: 17px;
height: 17px;
left: 1184.01px;
top: 1096px;

background: #00497E;
border: 2px solid #FFFFFF;


/* Alphabetical(A-Z) */


position: absolute;
width: 166.89px;
height: 31.13px;
left: 1213.01px;
top: 956px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
/* identical to box height */


color: #FFFFFF;



/* Popularity(High-low) */


position: absolute;
width: 203px;
height: 31px;
left: 1212.01px;
top: 1044px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;

color: #FFFFFF;



/* Popularity(High-low) */


position: absolute;
width: 203px;
height: 31px;
left: 1212.01px;
top: 1088px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;

color: #FFFFFF;



/* Alphabetical(Z-A) */


position: absolute;
width: 166.89px;
height: 31.13px;
left: 1212.01px;
top: 998px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
/* identical to box height */


color: #FFFFFF;



/* Clear selection */


position: absolute;
width: 177px;
height: 35px;
left: 1188.01px;
top: 1124px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;

color: #FFFFFF;



/* --------------------- */


position: absolute;
width: 151px;
height: 32px;
left: 1184.01px;
top: 1138px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
/* identical to box height */


color: #FFFFFF;



/* Rectangle 12 */


position: absolute;
width: 249px;
height: 344px;
left: 1166.01px;
top: 851px;



/* Group 7 */


position: absolute;
width: 1440px;
height: 145px;
left: -0.99px;
top: 1384.95px;
