/* Graphic Design */


position: absolute;
width: 427px;
height: 73px;
left: 23px;
top: 309px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 82px;

color: #0061A8;



/* Courses */


position: absolute;
width: 91px;
height: 34px;
left: 93px;
top: 286px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;

color: #0061A8;



/* Home */


position: absolute;
width: 91px;
height: 34px;
left: 28px;
top: 286px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;

color: #0061A8;



/* Undergraduate */


position: absolute;
width: 153px;
height: 34px;
left: 177px;
top: 286px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;

color: #0061A8;



/* Graphic Design */


position: absolute;
width: 153px;
height: 34px;
left: 326px;
top: 286px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;

color: #000000;



/* Slash */


position: absolute;
width: 16px;
height: 16px;
left: 159.75px;
top: 295.22px;

background: url(.png);
transform: rotate(-20deg);


/* Slash */


position: absolute;
width: 16px;
height: 16px;
left: 76.75px;
top: 295.22px;

background: url(.png);
transform: rotate(-20deg);


/* Slash */


position: absolute;
width: 16px;
height: 16px;
left: 309px;
top: 295.47px;

background: url(.png);
transform: rotate(-20deg);


/* The graphic design program focuses on the development of a cohesive, investigative body of work, also known as the student’s thesis. At Yale, the graphic design thesis is conceived as a loose framework within which each student’s visual method is deployed across many diverse projects during the two-year course of study. While every thesis project is unique, there are several common features: a focus on methodology, the application of a visual method to studio work, and the organization of the work in a thoughtfully argued written document and a “Thesis Book.” The individual collection of graphic design work by each student is supported on several levels simultaneously: studio work led by faculty meeting weekly; small six-person thesis groups meeting biweekly; individual sessions with writing and editing tutors; and lectures, presentations, and workshops. Although the School of Art provides digital lab facilities, all graphic design students are expected to have their own personal computer. Each student has a designated work space in the design studio loft and has access to equipment including bookbinding materials, wide-format printers, a RISO duplicator, Vandercook letterpress, and work spaces in the School of Art buildings. More resources supporting interdisciplinary projects including motion capture and VR are available at the nearby Center for Collaborative Arts and Media. In addition, students draw on the extraordinary resources of Yale University courses, conferences, films, lectures, and museums, and especially the extensive research and rare book collections of Sterling, Haas, and Beinecke libraries. Each year, up to twelve students are admitted into the two-year graphic design program, and up to seven students are admitted into the preliminary-year program. Two-year-program students are expected to have substantial and distinguished experience in visual studies and related professional experience. Students applying to the preliminary-year program typically have relevant experience in a field of study outside design and demonstrate evidence of visual acuity. After successful completion of the preliminary year, these students automatically continue on in the two-year M.F.A. program. */


position: absolute;
width: 1369px;
height: 609px;
left: 24px;
top: 389px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;

color: #000000;



/* CREDIT REQUIREMENTS */


position: absolute;
width: 374px;
height: 53px;
left: 24px;
top: 1041px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;

color: #00497E;



/* TYPICAL PLAN OF STUDY */


position: absolute;
width: 374px;
height: 53px;
left: 25px;
top: 1171px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;

color: #00497E;



/* 45 credits in area of concentration, including ART 949, and 15 additional credits, including a minimum of 6 academic credits in courses outside the School of Art. */


position: absolute;
width: 1368px;
height: 48px;
left: 25px;
top: 1080px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;

color: #000000;



/* Preliminary Year, Fall-Term Minimum Credits */


position: absolute;
width: 1368px;
height: 28px;
left: 24px;
top: 1234px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #000000;



/* First Year, Fall-Term Minimum Credits */


position: absolute;
width: 1368px;
height: 28px;
left: 24px;
top: 1736px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #000000;



/* First Year, Spring-Term Minimum Credits */


position: absolute;
width: 1368px;
height: 28px;
left: 29px;
top: 2141px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #000000;



/* First Year, Fall-Term Minimum Credits */


position: absolute;
width: 1368px;
height: 28px;
left: 24px;
top: 1937px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #000000;



/* Second Year, Fall-Term Minimum Credits */


position: absolute;
width: 1368px;
height: 28px;
left: 29px;
top: 2345px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #000000;



/* Second Year, Spring-Term Minimum Credits */


position: absolute;
width: 1368px;
height: 28px;
left: 29px;
top: 2549px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #000000;



/* Preliminary Year, Spring-Term Minimum Credits */


position: absolute;
width: 1368px;
height: 28px;
left: 15px;
top: 1485px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #000000;



/* ART 370 */


position: absolute;
width: 121px;
height: 36px;
left: 25px;
top: 1286px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #0061A8;



/* ART 720 */


position: absolute;
width: 121px;
height: 36px;
left: 25px;
top: 1788px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #0061A8;



/* ART 720 */


position: absolute;
width: 121px;
height: 36px;
left: 30px;
top: 2193px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #0061A8;



/* ART 721 */


position: absolute;
width: 121px;
height: 36px;
left: 25px;
top: 1989px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #0061A8;



/* ART 730 */


position: absolute;
width: 121px;
height: 36px;
left: 30px;
top: 2397px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #0061A8;



/* ART 731 */


position: absolute;
width: 121px;
height: 36px;
left: 30px;
top: 2601px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #0061A8;



/* ART 266 */


position: absolute;
width: 121px;
height: 36px;
left: 16px;
top: 1537px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #0061A8;



/* ART 710 */


position: absolute;
width: 121px;
height: 36px;
left: 23px;
top: 1380px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #0061A8;



/* Graphic Design Sequence */


position: absolute;
width: 317px;
height: 36px;
left: 23px;
top: 1882px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #0061A8;



/* Graphic Design Sequence */


position: absolute;
width: 317px;
height: 36px;
left: 28px;
top: 2287px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #0061A8;



/* Academic or Studio Electives */


position: absolute;
width: 317px;
height: 36px;
left: 23px;
top: 2083px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #0061A8;



/* Academic or Studio Electives */


position: absolute;
width: 317px;
height: 36px;
left: 28px;
top: 2491px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #0061A8;



/* Academic or Studio Electives */


position: absolute;
width: 317px;
height: 36px;
left: 28px;
top: 2695px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #0061A8;



/* ART 711 */


position: absolute;
width: 121px;
height: 36px;
left: 14px;
top: 1631px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #0061A8;



/* ART 486 */


position: absolute;
width: 121px;
height: 36px;
left: 23px;
top: 1333px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #0061A8;



/* ART 949 */


position: absolute;
width: 121px;
height: 36px;
left: 23px;
top: 1835px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #0061A8;



/* ART 949 */


position: absolute;
width: 121px;
height: 36px;
left: 28px;
top: 2240px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #0061A8;



/* Graphic Design Sequence */


position: absolute;
width: 317px;
height: 36px;
left: 23px;
top: 2036px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #0061A8;



/* ART 738 */


position: absolute;
width: 317px;
height: 36px;
left: 28px;
top: 2444px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #0061A8;



/* ART 739 */


position: absolute;
width: 317px;
height: 36px;
left: 28px;
top: 2648px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #0061A8;



/* ART 369 */


position: absolute;
width: 121px;
height: 36px;
left: 14px;
top: 1584px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #0061A8;



/* ART 712 */


position: absolute;
width: 121px;
height: 36px;
left: 21px;
top: 1427px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #0061A8;



/* Studio Elective */


position: absolute;
width: 166px;
height: 36px;
left: 12px;
top: 1678px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #0061A8;



/* Motion Design */


position: absolute;
width: 625px;
height: 36px;
left: 379px;
top: 1286px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* Graduate Studio: Graphic Design */


position: absolute;
width: 625px;
height: 36px;
left: 379px;
top: 1788px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* Graduate Studio: Graphic Design */


position: absolute;
width: 625px;
height: 36px;
left: 384px;
top: 2193px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* Graduate Studio: Graphic Design */


position: absolute;
width: 625px;
height: 36px;
left: 379px;
top: 1989px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* Graduate Studio: Graphic Design */


position: absolute;
width: 625px;
height: 36px;
left: 384px;
top: 2397px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* Graduate Studio: Graphic Design */


position: absolute;
width: 625px;
height: 36px;
left: 384px;
top: 2601px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* History of Graphic Design */


position: absolute;
width: 625px;
height: 36px;
left: 379px;
top: 1540px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* Preliminary Studio: Graphic Design */


position: absolute;
width: 625px;
height: 36px;
left: 379px;
top: 1380px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* Preliminary Studio: Graphic Design */


position: absolute;
width: 625px;
height: 36px;
left: 379px;
top: 1882px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* Preliminary Studio: Graphic Design */


position: absolute;
width: 625px;
height: 36px;
left: 384px;
top: 2287px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* Preliminary Studio: Graphic Design */


position: absolute;
width: 625px;
height: 36px;
left: 379px;
top: 2083px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* Preliminary Studio: Graphic Design */


position: absolute;
width: 625px;
height: 36px;
left: 379px;
top: 1634px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* Advanced Graphic Design: Series and Systems */


position: absolute;
width: 625px;
height: 36px;
left: 379px;
top: 1333px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* Diving into the Wreck: Rethinking Critical Practice */


position: absolute;
width: 625px;
height: 36px;
left: 379px;
top: 1835px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* Diving into the Wreck: Rethinking Critical Practice */


position: absolute;
width: 625px;
height: 36px;
left: 384px;
top: 2240px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* Diving into the Wreck: Rethinking Critical Practice */


position: absolute;
width: 625px;
height: 36px;
left: 379px;
top: 2036px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* Degree Presentation in Graphic Design */


position: absolute;
width: 625px;
height: 36px;
left: 384px;
top: 2444px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* Degree Presentation in Graphic Design */


position: absolute;
width: 625px;
height: 36px;
left: 384px;
top: 2648px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* Interactive Design and the Internet */


position: absolute;
width: 625px;
height: 36px;
left: 379px;
top: 1587px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* Prelim Typography */


position: absolute;
width: 625px;
height: 36px;
left: 379px;
top: 1427px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* 3 */


position: absolute;
width: 84px;
height: 36px;
left: 1331px;
top: 1286px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* 6 */


position: absolute;
width: 84px;
height: 36px;
left: 1331px;
top: 1788px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* 6 */


position: absolute;
width: 84px;
height: 36px;
left: 1336px;
top: 2193px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* 6 */


position: absolute;
width: 84px;
height: 36px;
left: 1331px;
top: 1989px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* 6 */


position: absolute;
width: 84px;
height: 36px;
left: 1336px;
top: 2397px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* 6 */


position: absolute;
width: 84px;
height: 36px;
left: 1336px;
top: 2601px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* 3 */


position: absolute;
width: 84px;
height: 36px;
left: 1331px;
top: 1537px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* 6 */


position: absolute;
width: 84px;
height: 36px;
left: 1331px;
top: 1380px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* 6 */


position: absolute;
width: 84px;
height: 36px;
left: 1331px;
top: 1882px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* 6 */


position: absolute;
width: 84px;
height: 36px;
left: 1336px;
top: 2287px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* 3 */


position: absolute;
width: 84px;
height: 36px;
left: 1331px;
top: 2083px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* 6 */


position: absolute;
width: 84px;
height: 36px;
left: 1336px;
top: 2491px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* 6 */


position: absolute;
width: 84px;
height: 36px;
left: 1336px;
top: 2695px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* 6 */


position: absolute;
width: 84px;
height: 36px;
left: 1331px;
top: 1631px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* 3 */


position: absolute;
width: 84px;
height: 36px;
left: 1331px;
top: 1333px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* 3 */


position: absolute;
width: 84px;
height: 36px;
left: 1331px;
top: 1835px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* 3 */


position: absolute;
width: 84px;
height: 36px;
left: 1336px;
top: 2240px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* 6 */


position: absolute;
width: 84px;
height: 36px;
left: 1331px;
top: 2036px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* 3 */


position: absolute;
width: 84px;
height: 36px;
left: 1336px;
top: 2444px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* 3 */


position: absolute;
width: 84px;
height: 36px;
left: 1336px;
top: 2648px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* 3 */


position: absolute;
width: 84px;
height: 36px;
left: 1331px;
top: 1584px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* 3 */


position: absolute;
width: 84px;
height: 36px;
left: 1331px;
top: 1427px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* 3 */


position: absolute;
width: 84px;
height: 36px;
left: 1331px;
top: 1678px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #000000;



/* image 22 */


position: absolute;
width: 120.18px;
height: 133.4px;
left: 13.71px;
top: 10px;

background: url(image.png);


/* YALE SCHOOL OF ART */


position: absolute;
width: 554.38px;
height: 64.68px;
left: 147.6px;
top: 32.39px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 55.4382px;
line-height: 65px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #00497E;



/* Rectangle 29 */


box-sizing: border-box;

position: absolute;
width: 478.46px;
height: 62.12px;
left: 946.2px;
top: 37.88px;

background: #FFFFFF;
border: 1.08988px solid #00497E;
border-radius: 29.4268px;


/* image 23 */


position: absolute;
width: 28.34px;
height: 29.43px;
left: 972.35px;
top: 54.23px;

background: url(.png);


/* Search */


position: absolute;
width: 92.64px;
height: 33.84px;
left: 1020.31px;
top: 49.87px;

font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 25.677px;
line-height: 34px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: rgba(0, 73, 126, 0.45);



/* Rectangle 30 */


position: absolute;
width: 1447px;
height: 113.64px;
left: 0px;
top: 156px;

background: #00497E;


/* Rectangle 31 */


box-sizing: border-box;

position: absolute;
width: 180.92px;
height: 49.04px;
left: 149.6px;
top: 187.34px;

background: #FFFFFF;
border: 3.26965px solid #FFFFFF;
box-shadow: 0px 4.35953px 4.35953px rgba(0, 0, 0, 0.25);
border-radius: 18.528px;


/* Rectangle 32 */


position: absolute;
width: 198.15px;
height: 49.12px;
left: 377.94px;
top: 186.78px;

background: #FFFFFF;
box-shadow: 0px 4.35953px 4.35953px rgba(0, 0, 0, 0.25);
border-radius: 18.528px;


/* Exhibitions */


position: absolute;
width: 159.12px;
height: 31.61px;
left: 398.6px;
top: 194.44px;

font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 23.9774px;
line-height: 32px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #00497E;



/* Rectangle 33 */


position: absolute;
width: 205.49px;
height: 49.12px;
left: 622.69px;
top: 186.78px;

background: #FFFFFF;
box-shadow: 0px 4.35953px 4.35953px rgba(0, 0, 0, 0.25);
border-radius: 18.528px;


/* Publications */


position: absolute;
width: 173.29px;
height: 31.61px;
left: 637.36px;
top: 195.57px;

font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 23.9774px;
line-height: 32px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #00497E;



/* Rectangle 34 */


position: absolute;
width: 180.92px;
height: 49.04px;
left: 875.6px;
top: 186.78px;

background: #FFFFFF;
box-shadow: 0px 4.35953px 4.35953px rgba(0, 0, 0, 0.25);
border-radius: 18.528px;


/* Rectangle 35 */


position: absolute;
width: 180.92px;
height: 49.04px;
left: 1103.94px;
top: 186.78px;

background: #FFFFFF;
box-shadow: 0px 4.35953px 4.35953px rgba(0, 0, 0, 0.25);
border-radius: 18.528px;


/* Home */


position: absolute;
width: 63.21px;
height: 34.88px;
left: 210.63px;
top: 193.88px;

font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 26.1572px;
line-height: 34px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #00497E;



/* Staff */


position: absolute;
width: 79.56px;
height: 34.88px;
left: 923.26px;
top: 193.48px;

font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 26.1572px;
line-height: 34px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #00497E;



/* More */


position: absolute;
width: 63.21px;
height: 34.88px;
left: 1140.44px;
top: 192.3px;

font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 26.1572px;
line-height: 34px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #00497E;



/* image 24 */


position: absolute;
width: 29.43px;
height: 29.43px;
left: 1227.63px;
top: 197.75px;

background: url(.png);


/* Group 9 */


position: absolute;
width: 1440px;
height: 145px;
left: 0px;
top: 2753px;



/* Line 12 */


position: absolute;
width: 1419px;
height: 0px;
left: calc(50% - 1419px/2 - 0.5px);
top: calc(50% - 0px/2 - 179px);

border: 1px solid #0061A8;


/* Line 13 */


position: absolute;
width: 1419px;
height: 0px;
left: calc(50% - 1419px/2 - 0.5px);
top: calc(50% - 0px/2 - 225px);

border: 1px solid #0061A8;


/* Line 14 */


position: absolute;
width: 1419px;
height: 0px;
left: calc(50% - 1419px/2 - 0.5px);
top: calc(50% - 0px/2 + 277px);

border: 1px solid #0061A8;


/* Line 15 */


position: absolute;
width: 1419px;
height: 0px;
left: calc(50% - 1419px/2 + 4.5px);
top: calc(50% - 0px/2 + 682px);

border: 1px solid #0061A8;


/* Line 16 */


position: absolute;
width: 1419px;
height: 0px;
left: calc(50% - 1419px/2 - 0.5px);
top: calc(50% - 0px/2 + 478px);

border: 1px solid #0061A8;


/* Line 23 */


position: absolute;
width: 1419px;
height: 0px;
left: calc(50% - 1419px/2 + 4.5px);
top: calc(50% - 0px/2 + 886px);

border: 1px solid #0061A8;


/* Line 25 */


position: absolute;
width: 1419px;
height: 0px;
left: calc(50% - 1419px/2 + 4.5px);
top: calc(50% - 0px/2 + 1090px);

border: 1px solid #0061A8;


/* Line 24 */


position: absolute;
width: 1419px;
height: 0px;
left: calc(50% - 1419px/2 + 4.5px);
top: calc(50% - 0px/2 + 1136px);

border: 1px solid #0061A8;


/* Line 17 */


position: absolute;
width: 1419px;
height: 0px;
left: calc(50% - 1419px/2 - 1.5px);
top: calc(50% - 0px/2 + 26px);

border: 1px solid #0061A8;


/* Line 18 */


position: absolute;
width: 1419px;
height: 0px;
left: calc(50% - 1419px/2 - 0.5px);
top: calc(50% - 0px/2 + 72px);

border: 1px solid #0061A8;


/* Line 19 */


position: absolute;
width: 1419px;
height: 0px;
left: calc(50% - 1419px/2 - 0.5px);
top: calc(50% - 0px/2 + 523px);

border: 1px solid #0061A8;


/* Line 20 */


position: absolute;
width: 1419px;
height: 0px;
left: calc(50% - 1419px/2 + 9.5px);
top: calc(50% - 0px/2 + 932px);

border: 1px solid #0061A8;


/* Line 21 */


position: absolute;
width: 1419px;
height: 0px;
left: calc(50% - 1419px/2 + 4.5px);
top: calc(50% - 0px/2 + 728px);

border: 1px solid #0061A8;


/* Line 22 */


position: absolute;
width: 1419px;
height: 0px;
left: calc(50% - 1419px/2 - 0.5px);
top: calc(50% - 0px/2 + 323px);

border: 1px solid #0061A8;
