/* Vector */


position: absolute;
width: 827.24px;
height: 784.82px;
left: -177px;
top: 2180px;

background: linear-gradient(90.02deg, #00223C 0.02%, rgba(0, 0, 0, 0) 99.98%);
filter: blur(4px);


/* Vector */


position: absolute;
width: 827.24px;
height: 784.82px;
left: 1587px;
top: 1523px;

background: linear-gradient(90.02deg, rgba(0, 0, 0, 0) 0.02%, #00223C 92.17%);
filter: blur(4px);


/* Union */


position: absolute;
width: 2084.79px;
height: 842.96px;
left: -0.79px;
top: 516.14px;

background: linear-gradient(90.02deg, #000000 0.02%, #00223C 92.17%);
box-shadow: 0px 7.1px 26.62px rgba(0, 0, 0, 0.5);


/* Wa9ilX9XYOI */


position: absolute;
width: 2085px;
height: 843px;
left: -3px;
top: 516px;

background: url(.jpg);
border-radius: 53px;


/* PUBLIC EVENTS */


position: absolute;
width: 1023px;
height: 96px;
left: 41px;
top: 708px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 140px;
line-height: 178px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Welcome to the School of Art’s public events calendar, initiated in summer 2020. To stay updated on new events as they’re confirmed, all members of the public are invited to subscribe this calendar to their own calendaring software by clicking the “Subscribe” button below. */


position: absolute;
width: 1551px;
height: 402px;
left: 135px;
top: 815px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 52px;
line-height: 66px;
display: flex;
align-items: center;

color: #FFFFFF;



/* Featured Events */


position: absolute;
width: 511px;
height: 134px;
left: 42px;
top: 1366px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 76px;
line-height: 96.7%;
/* or 73px */

display: flex;
align-items: center;

color: #00497E;



/* Group 13 */


position: absolute;
width: 1774.28px;
height: 1168.03px;
left: 236.72px;
top: 1589px;



/* Line 17 */


position: absolute;
left: 1.33%;
right: 7.25%;
top: 48.72%;
bottom: 51.28%;

opacity: 0.55;
border: 2.66173px solid rgba(0, 73, 126, 0.58);


/* Group 16 */


position: absolute;
width: 188.27px;
height: 76px;
left: 2010px;
top: 1395px;



/* Group 5 */


position: absolute;
width: 2251px;
height: 338.26px;
left: -3px;
top: 2743px;



/* Group 14 */


position: absolute;
width: 2147.75px;
height: 427.41px;
left: 50px;
top: 25px;
